@{
	ViewData["Title"] = "Lista de clientes";
}
<div class="text-center">
	<h1>LISTA DE CLIENTES</h1>
    <a role
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>mark@email.com</td>
                <td>(11)9876-1234</td>

                <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary">Atualizar</button>
              <button type="button" class="btn btn-primary">Apagar</button>
              </div>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>jacob@email.com</td>
                <td>(11)9876-1235</td>

                <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary">Atualizar</button>
              <button type="button" class="btn btn-primary">Apagar</button>
              </div>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Angeline</td>
                <td>angeline@email.com</td>
                <td>(11)9876-4657</td>

                <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary">Atualizar</button>
              <button type="button" class="btn btn-primary">Apagar</button>
              </div>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Elai</td>
                <td>elai@email.com</td>
                <td>(11)9876-5544</td>

                <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary">Atualizar</button>
              <button type="button" class="btn btn-primary">Apagar</button>
              </div>
            </tr>
              <tr>
                <th scope="row">1</th>
                <td>Corteli</td>
                <td>corteli@email.com</td>
                <td>(11)9876-1272</td>

                <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary">Atualizar</button>
              <button type="button" class="btn btn-primary">Apagar</button>
              </div>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>James</td>
                <td>james@email.com</td>
                <td>(11)9876-9876</td>

                <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary">Atualizar</button>
              <button type="button" class="btn btn-primary">Apagar</button>
              </div>
            </tr>
        </tbody>
    </table>
</div>
